html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #e0b0ff;
}

footer {
	border-top: 1px solid #cccccc;
	margin-top: 1em;
	padding: 1em;
	font-size: .7em;
}

.bread-crumb {
	margin-top: 10px;
	margin-left: 5px;
}

.navbar-default {
	background-color: #44005b;
	border-color: #7e00a8;
}

div, p {
	font-size: 1.05em;
}

a {
	color: #660089;
}
a:focus, a:hover {
	color: #7800a1;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #7800a1;
}

.btn-primary {
	background-color: #44005b;
	border-color: #7e00a8;
}
.btn-primary:focus, .btn-primary:hover {
	background-color: #9e00d4;
}


/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}
