@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>
