@model ErrorModel

@{
	ViewBag.Title = "Error";
	// If headers were already sent, it's too late to change them
	try {
		Response.TrySkipIisCustomErrors = true;
		Response.StatusCode = 503;
	} catch {
	}
}

<h1>@ViewBag.Title</h1>
<p>
	Sorry, an error occurred while processing your request. Please try your request again or contact support.
	@if (Model != null && Model.ErrorId != null ) {
		@: Please reference ErrorId @Model.ErrorId.			
	}
</p>
