@{
	ViewBag.Title = "Not Found";
	// If headers were already sent, it's too late to change them
	try {
		Response.TrySkipIisCustomErrors = true;
		Response.StatusCode = 404;
	} catch {
	}
}

<div class="container">
	@Html.Partial("_DocumentBreadCrumbNonCms", (string)ViewBag.Title)
	<h1 class="text-danger">@ViewBag.Title</h1>
	<p>
		Sorry, the item is not found.
	</p>
</div>
