@{
    ViewBag.Title = "Polls Tools";
}

@section head {
    @Styles.Render("~/css/kendouicss")
}

<h2>Admin - Add/Edit/Update Categories</h2>

<div id="grid"></div>

@section scripts {
    @Scripts.Render("~/js/kendouijs")


    <script>
        $(function () {
            $("#grid").kendoGrid({
                height: 400,
                columns: [
                    "Name"
                ],
                pageable: true,
                sortable: true,
                filterable: true,
                editable: false, // enable editing
                toolbar: ["create", "save", "cancel"], // specify toolbar commands
                dataSource: {
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 10,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "CategoryId",
                            fields: {
                                CategoryId: { editable: false, type: "number" },
                                Name: { validation: { required: true }, type: "string" }
                            }
                        }
                    },
                    batch: false,
                    transport: {
                        create: {
                            url: "/api/Category",
                            contentType: "application/json",
                            type: "POST"
                        },
                        read: {
                            url: "/api/Category",
                            contentType: "application/json"
                        },
                        update: {
                            url: function (Category) {
                                return "/api/Category/" + Category.CategoryId;
                            },
                            contentType: "application/json",
                            type: "PUT"
                        },
                        destroy: {
                            url: function (Category) {
                                return "/api/Category/" + Category.CategoryId;
                            },
                            contentType: "application/json",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            return JSON.stringify(data);
                        }
                    }
                }
            });
        });
    </script>
}
