@{
    ViewBag.Title = "Polls Tools";
}

@section head {
    @Styles.Render("~/css/kendouicss")
}

<h2>Admin - Add/Edit/Update Polls</h2>

<div id="grid"></div>

@section scripts {

    @Scripts.Render("~/js/kendouijs")

    <script>

        var serviceUrl = '/api/PollsApi';

        $(function () {
            $("#grid").kendoGrid({
                height: 400,
                columns: [
                     { field: "Frequency", title: "Frequency", width: 25 },
                     { field: "StartDate", title: "StartDate", width: 25 },
                     { field: "EndDate", title: "EndDate", width: 25 },
                     { field: "CategoryId", title: "CategoryId", width: 25 },
                     { field: "VoteCountPerFrequency", title: "VoteCountPerFrequency", width: 25 },
                     { command: ["edit", "destroy"], title: "&nbsp;", width: "35px" }
                ],
                pageable: true,
                sortable: true,
                filterable: true,
                editable: {
                    mode: "popup",
                    confirmation: true
                },
                toolbar: ["create"],
                dataSource: {
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 25,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "PollId",
                            fields: {
                                PollId: { editable: false, type: "number" },
                                Frequency: { editable: true, type: "string" },
                                StartDate: { editable: true, type: "date" },
                                EndDate: { editable: true, type: "date" },
                                CategoryId: { editable: true, type: "number" },
                                VoteCountPerFrequency: { editable: true, type: "number" }
                            }
                        }
                    },
                    batch: false,
                    transport: {
                        create: {
                            url: serviceUrl,
                            contentType: "application/json",
                            type: "POST"
                        },
                        read: {
                            url: serviceUrl,
                            contentType: "application/json",
                            type: "GET"
                        },
                        update: {
                            url: serviceUrl,
                            contentType: "application/json",
                            type: "POST"
                        },
                        destroy: {
                            url: serviceUrl,
                            contentType: "application/json",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            return JSON.stringify(data);
                        }
                    }
                }
            });
        });
    </script>

}
