@model List<Frequency>

@{
    ViewBag.Title = "Frequencies";
}

<h2>Frequencies</h2>

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <ul>
            <li>@Html.ActionLink("Add New Frequency", "AddFrequency", "Polls")</li>
        </ul>

        <div class="col-md-6">

        </div>
    </div>
</div>

