@{
    ViewBag.Title = "Polls Tools";
}

@section head {
    @Styles.Render("~/css/kendouicss")
}

@section scripts {
    @Scripts.Render("~/js/kendouijs")
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <ul>
            <li>@Html.ActionLink("Edit Category", "Category", "Polls")</li>

        </ul>
    </div>
</div>
